<html>
    <head>
    </head>
    <body>
        <h1>About Us</h1>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </body>
</html>