<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/logoImage.png">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>
    <h1>Weather App</h1>
    <header>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </header>
    <input type="text" id="city">
    <button>Search</button>
    <footer>
        <p>Created by Jaba</p>
    </footer>
</body>
</html>