h1 {
    color: red;
}

body {
    margin-top: 100px;
    margin-left: 300px;
    max-width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: grey;
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    border-top: 2px solid gray;
}
